* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.timer-container {
    border: 3px solid #65564B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    display: none;
}

.timer-container h1 {
    text-align: center;
    font-size: 3rem;
    color: #65564B;
    margin-bottom: 20px;
}

.timer-container .timer {
    font-size: 2rem;
    color: #65564B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    gap: 15px;
}

.days,
.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #807465;
    border-radius: 15px;
    padding: 12px;
}

.form-container {
    border: 3px solid #65564B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-container form .form-group {
    display: flex;
    justify-content: space-between;
}

form label {
    font-size: 1.4rem;
    color: #65564B;
    font-weight: bold;
}

form input {
    padding: 5px;
    border: 3px solid #695950;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 60%;
    outline: none;
    background-color: #a8a58a00;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #65564B;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

form button:hover {
    background-color: #807465;
}

form input[type="text"] {
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.667);
}

.invalid {
    margin: 15px 0;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    animation: vibrate 2s infinite;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .timer-container {
        width: 70%;
        height: 500px;
        padding: 15px;
    }

    .timer-container h1 {
        font-size: 2rem;
    }

    .timer-container .timer {
        font-size: 1.7rem;
        flex-direction: column;
        gap: 30px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        flex-direction: row;
        gap: 5px;
        padding: 8px;
        font-size: 1.5rem;
    }

    .form-container {
        width: 80%;
        padding: 20px;
    }

    .form-container form {
        gap: 30px;
    }

    .form-container form .form-group {
        flex-direction: column;
        align-items: center;
    }

    form label {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    form input {
        width: 100%;
        font-size: 1rem;
    }

    form button {
        font-size: 1rem;
        padding: 8px;
    }
}
